# 1-READER: Source OME Database (postgres1)

networks:
  cdc-network:
    name: cdc-network
    driver: bridge

services:
  postgres1:
    image: docker.io/postgres:17-bookworm
    container_name: postgres1
    networks: [cdc-network]
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: omedb
    ports:
      - "5433:5432"
    volumes:
      - ./deployments/postgres/init/01-schema-and-data.sql:/docker-entrypoint-initdb.d/01-init.sql:Z
      - ./deployments/postgres/init/pg_hba.conf:/etc/postgresql/pg_hba.conf:Z
    command: >
      postgres
        -c wal_level=logical
        -c max_replication_slots=10
        -c max_wal_senders=10
        -c hba_file=/etc/postgresql/pg_hba.conf
